body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--background-white);
}

.cats-container {
    display: flex;
    gap: var(--px-20);
}
